/YelpScrapper/data/reviews.csv
/YelpScrapper/data/business.csv

**/.env

*.csv

# Don't commit a DB dummy
**/database.sqlite 

Simple/data/input/**


**/poetry.lock

# Ignore all pycache directories and files
__pycache__/
*.pyc
*.pyo

# Ignore NextJS packages and compiled files
Display/display-nextjs/.next
Display/display-nextjs/node_modules
